In [4]:
import pytest
import os
import argparse
import pandas as pd
import numpy as np


# First test: Check if all row in the body of the vcf files are taken
# The body of the vcf file has 10425 rows

def load_body_vcf(PATH_file_name_vcf):
    '''
    Input: PATH/file_name.vcf
    Return a pandas data frame with data
    '''
    with open(PATH_file_name_vcf, 'r') as f:
        for line in f:
            if line.startswith('#') and len(line)>2 and line[1] != '#':
                columns = line[1:-1].split('\t')
                break
    dataA = pd.read_csv(PATH_file_name_vcf, comment='#', delimiter='\t', names=columns)

def test_1():
    load_body_vcf("/Users/monkiky/Desktop/VCF-matcher/Testing/test_sample.vcf")
    assert len(dataA) == 10425

In [5]:
test_1()

NameError: name 'dataA' is not defined

In [38]:
import pytest
import os
import argparse
import pandas as pd
import numpy as np


# FIRST TEST: Check if all rows of the body of the vcf files are taken

#Â The script that load and save the body of the vcf into a pandas data frame object
NAME_FILE_1 = "/Users/monkiky/Desktop/VCF-matcher/Testing/test_sample.vcf"

with open(NAME_FILE_1, 'r') as f:
    for line in f:
        if line.startswith('#') and len(line)>2 and line[1] != '#':
            columns = line[1:-1].split('\t')
            break

dataA = pd.read_csv(NAME_FILE_1, comment='#', delimiter='\t', names=columns)

def test_1():
    assert len(dataA) == 10425 # The body of the vcf file has 10425 rows


# SECOND TEST: Check if the code really distingues between sample with
# 1 or more samples

if len(dataA.columns) > 10:
    Name_sample1 = input('It seems that {} has more than one sample. Please introduce the name of the sample you wish to analyse:  '.format(os.path.basename(NAME_FILE_1)))
else:
    print('File', os.path.basename(NAME_FILE_1), 'contains one sample only.')
    Name_sample1 = dataA.columns.tolist()[9]

def test_2():
    assert Name_sample1 == "Sample_1" # This is a one-sample vcf file which sample has been called "SAMPLE1"

It seems that test_sample.vcf has more than one sample. Please introduce the name of the sample you wish to analyse:  Sample_3

In [39]:
df2 = dataA[Name_sample1].str.split(':', expand=True)

df2 = df2.fillna(value=np.nan)
df2 = df2.dropna(axis=1, how='any')

df2.columns = dataA.FORMAT.iloc[0].split(':')
dataA = pd.concat([dataA, df2], axis=1)

In [40]:
len(dataA.query('FILTER == "PASS"'))

5000

In [41]:
if "VF" in dataA.columns:
    dataA["VF"] = dataA["VF"].astype(float)
    dataA = dataA.query('VF > 0.4')

In [42]:
len(dataA)

1811

         0    1          2       3   4          5    6
0      0/1   20      221,7    0.99  20   -10.2127   20
1      0/1  100     660,51    0.99  20    -0.0071  100
2      0/1   20     469,11    0.99  20    -0.0031   20
3      0/1   68    1005,31    0.99  20    -0.0166   68
4      0/1   67    3815,75    0.99  20    -0.0006   67
...    ...  ...        ...     ...  ..        ...  ...
10391  0/1  100  3104,2737  0.4686  20  -100.0000  100
10392  0/1  100  2901,2864  0.4968  20  -100.0000  100
10396  1/1  100    11,7700  0.9983  20  -100.0000  100
10405  0/1  100    485,358  0.4247  20  -100.0000  100
10412  1/1  100    12,1413  0.9916  20  -100.0000  100

[1811 rows x 7 columns]